.barCode {
    width: 150px;
    padding: 5px 0;
}
.input__BarCode {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 350px;
}

/* TABLA */
.container__Table{
    width: 100%;
}
.container__Head{
    background: #e9ecef;
    height: 60px;
    width: 100%;
    font-weight: 600;
}

/* TITULOS DE LAS COLUMNAS */
.container__Tr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}
.quantity{
    height: 60px;
    width: 15%;
    min-width: 150px;
}
.description__Item{
    height: 60px;
    width: 40%;
    min-width: 400px;
}
.price__Unit{
    height: 60px;
    width: 20%;
    min-width: 200px;
}
.iva{
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.value{
    height: 60px;
    width: 15%;
    min-width: 150px;
}
.message__Unrelated_Items {
    min-height: 60px;
}

/* CONTENIDO DE LA TABLA */
.container__Body {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 60px;
    width: 100%;
}
.container__Info{
    min-height: 60px;
}
.text__Ellipsis {
    opacity: 0.75;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 350px;
}
.input:focus {
    outline-color: #718bd8;
}
.button__Submit {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #718bd8;
    color: #f8f9fa;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}