.container {
    /* border: 1px solid red; */
    margin: 72px 0 0 0;
    height: calc(100vh - 123px);
}
.containerBranchPage {
    max-width: 1000px;
}
.component {
    height: 50px;
    border-top: none;
    border-left: 1px solid rgba(113, 139, 216, 0.1);
    border-right: 1px solid rgba(113, 139, 216, 0.1);
    border-bottom: 1px solid rgba(113, 139, 216, 0.1);
    cursor: pointer;
}
.title {
    color: #f28705;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
.active {
    background: #718bd8;
    color: #f8f9fa;
    cursor: pointer;
}