.container {
    width: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    background: #f8f9fa;
    z-index: 2;
}
.container__Navbar {
    height: 70px;
    width: 100%;
    padding: 0 20px;
}
.logo{
    height: 40px;
}
.nav__Link {
    color: #2d3748;
    font-weight: 600;
    margin: 10px 5px;
    padding: 5px 10px;
    height: 50px;
}
.nav__Link:hover {
    color: #0a31bf;
    border-radius: 5px;
}
.active {
    color: #2d3748;
    margin: 5px 0 0 0;
    font-weight: 600;
    border-bottom: 5px solid #718bd8;
}
.nav__Platform {
    margin: 10px 5px;
    border-radius: 5px;
    width: 110px;
    height: 50px;
    background: #718bd8;
    color: #f8f9fa;
    transition: 300ms all ease;
}
.nav__Platform:hover {
    transform: scale(1.1);
}
.button__Hamburguer {
    display: none;
}


/* ---------- RESPONSIVE (1000 PX) ---------- */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
    .menu {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 70px;
        left: 0;
        flex-flow: column nowrap;
        flex-direction: column;
        opacity: 0;
        background: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        transition: all 500ms ease;
    }
    .nav__Link, .active {
        color: white;
    }
    .active__Menu_Hamburguer {
        padding: 30px 0;
        opacity: 1;
    }
    .button__Hamburguer {
        background: none;
        display: block;
        cursor: pointer;
    }
    .icon__Hamburguer {
        font-size: 30px;
        transition: 300ms all ease;
    }
    .icon__Hamburguer:hover {
        transform: scale(1.1);
    }
}


/* ---------- RESPONSIVE (400 PX) ---------- */
@media screen and (max-width: 400px) {
    .logo{
        height: 30px;
    }
}