.container__Download_File {
    width: 600px;
}
.download__File {
    width: 150px;
    border-radius: 5px;
    background: #f28705;
    color: #f8f9fa;
    transition: 300ms all ease;
}
.download__File:hover {
    background: #0a31bf;
    cursor: pointer;
}
.input {
    border-radius: 5px;
    width: 350px;
}
.input:focus{
    outline-color: #718bd8;
}
.alert__Danger {
    border: 1px solid rgba(230, 57, 70, 0.7);
    color: #e63946;
    background: rgba(230, 57, 70, 0.4);
    border-radius: 5px;
    top: 60px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.success {
    height: 50px;
    width: 400px;
}
.alert__Success {
    top: 5px;
}
.button__Submit {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #718bd8;
    color: #f8f9fa;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}