.container {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.container__Component {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.title {
    color: #f28705;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Century Gothic', sans-serif;
}
.link__Income_Create {
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background: #718bd8;
}
.container__Table{
    width: 1000px;
}
.container__Head{
    background: #e9ecef;
    height: 60px;
    width: 100%;
    font-weight: 600;
}
.container__Tr{
    height: 60px;
}
.column__Branch{
    height: 60px;
    width: 140px;
}
.column__Name_Item{
    height: 60px;
    width: 140px;
}
.column__Brand_Assets{
    height: 60px;
    width: 140px;
}
.column__Reference_Asset{  

    height: 60px;
    width: 140px;
}
.column__Condition_Asset{
    height: 60px;
    width: 140px;
}
.column__State_Asset{
    height: 60px;
    width: 200px;
}
.column__Action{
    height: 60px;
    width: 100px;
}
.container__Body{
    height: 60px;
    width: 100%;
}
.container__Info{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}
.text__Ellipsis {
    opacity: 0.75;
    white-space: nowrap;        /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis;    /* Agrega los tres puntos suspensivos */
}
.button__Delete {
    color: #6c757d;
    height: 35px;
    width: 50px;
    padding: 0 5px;
}
.button__Delete:hover {
    transition: 300ms all ease;
    color: #718bd8;
    cursor: pointer;
}
.button__Edit {
    color: #6c757d;
    height: 35px;
    width: 50px;
    padding: 0 5px;
}
.button__Edit:hover {
    transition: 300ms all ease;
    color: #718bd8;
    cursor: pointer;
}