.title {
    box-decoration-break: clone;
}
.comunication {
    flex-wrap: wrap;
}
.box__Map, .box__Call_Us, .box__Chat_Us, .box__Call_You {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    width: 180px;
    height: 140px;
}
.icon__Map {
    font-size: 60px;
    transition: transform 0.3s ease;
    height: 90px;
}
.icon__Chat_Us, .icon__Call_Us, .icon__Call_You {
    font-size: 80px;
    transition: transform 0.3s ease;
    height: 80px;
}
.icon__Map { color: rgba(42, 157, 143, 0.9); }
.icon__Chat_Us { color: rgba(58, 134, 255, 0.9); }
.icon__Call_Us { color: rgba(217, 4, 41, 0.9); }
.icon__Call_You { color: rgba(131, 56, 236, 1); }
.icon__Map:hover, .icon__Chat_Us:hover,.icon__Call_Us:hover, .icon__Call_You:hover {
    transform: rotate(10deg) scale(1.05);
}
.text {
    color: #718bd8;
    height: 30px;
}
.tooltip__Content_Map {
    bottom: 165px;
    left: 80px;
    transform: translateX(-50%);
    width: 600px;
    height: 400px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    transition: 300ms all ease;
}
.tooltip__Content_Map:hover {
    transition: .3s ease all;
}
.iframe {
    border: 1px solid black;
}

/*----------Llámanos----------*/
.tooltip__Content_Call_Us {
    background: #f8f9fa;
    bottom: 190px;
    left: 90px;
    height: 60px;
    color: #343a40;
    border-radius: 10px;
    font-size: 14px;    
    transform: translateX(-50%);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    transition: 300ms all ease;
}
.tooltip__Content_Call_Us:hover {
    transition: .3s ease all;
}

/*----------Chatea con nosotros----------*/
.tooltip__Content_Chat_Us {
    background: #f8f9fa;
    bottom: 190px;
    left: 90px;
    width: 200px;
    height: 120px;
    border-radius: 10px;
    font-size: 14px;  
    transform: translateX(-50%);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    transition: 300ms all ease;
}
.tooltip__Content_Chat_Us:hover {
    transition: .3s ease all;
}

/*-WhatsApp-*/
.whatsapp__Landgin {
    border-radius: 10px;
    bottom: 160px;
    right: 20px;
    z-index: 2;
    height: 100px;
    transition: 300ms all ease;
}
.whatsapp__Landgin:hover {
    cursor: pointer;
}
.whatsapp__Content {
    height: 70px;
    width: 60px;
}
.whatsapp {
    height: 45px;
    width: 45px;
}

/*-Telegram-*/
.telegram__Landing {
    border-radius: 10px;
    bottom: 100px;
    right: 20px;
    height: 100px;
    z-index: 2;
    transition: 300ms all ease;
}
.telegram__Landing:hover {
    cursor: pointer;
}
.telegram__Content {
    height: 70px;
    width: 60px;
}
.telegram {
    height: 55px;
    width: 55px;
}

/*----------¿Quieres que te llamemos?----------*/
.tooltip__Content_Call_You {
    background: #f8f9fa;
    bottom: 190px;
    left: 90px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    font-size: 14px;  
    transform: translateX(-50%);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    transition: 300ms all ease;
}
.tooltip__Content_Call_You:hover {
    transition: .3s ease all;
}
.button__Submit {
    padding: 5px 10px;
    border-radius: 4px;
    letter-spacing: 1px;
    background: #718bd8;
    color: #f8f9fa;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}