.alert__Success {
    border: 1px solid rgba(76, 149, 108, 0.7);
    color: #4c956c;
    background: rgba(76, 149, 108, 0.4);
    border-radius: 5px;
    top: 10px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.alert__Danger {
    border: 1px solid rgba(230, 57, 70, 0.7);
    color: #e63946;
    background: rgba(230, 57, 70, 0.4);
    border-radius: 5px;
    top: 10px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.container__Info {
    width: 500px;
}
.name__Item {
    font-weight: 600;
}
.inventory {
    width: 400px;
}
.input {
    border-radius: 5px;
    width: 250px;
}
.input:focus{
    outline-color: #718bd8;
}
.text__Danger {
    top: 65px;
}
.button__Submit {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #718bd8;
    color: #f8f9fa;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}