.container {
    margin: 70px auto 0 auto;
    min-height: calc(100vh - 440px);
}
.subtitle {
    color: #f28705;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}
.input {
    min-width: 450px;
}
.input:focus{
    outline-color: #718bd8;
}
.button__Submit {
    height: 40px;
    width: 150px;
    letter-spacing: 1px;
    font-size: 18px;
    color: #f8f9fa;
    background: #718bd8;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.alert__Danger {
    color: #ff595e;
    font-weight: 800;
    top: 5px;
    left: 50px;
    right: 50px;
    z-index: 1;
}
.button__Return {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    color: #f8f9fa;
    background: #718bd8;
}
.butbutton__Returnton__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.link {
    font-weight: 600;
}