.containerSlider {
    height: 310px;
    margin: 30px 0 0 0;
}
.sliderCel {
    margin: 0 auto;
    width: 660px;
    height: 370px;
}
.containerButtonsCel {
    z-index: 1;
    width: 400px;
    left: -50px;
    top: 48%;
    margin: 0 auto;
}
.buttonCel {
    color: #2a9d8f;
    width: 40px;
    height: 40px;
    transition: 300ms all ease;
}
.buttonCel:hover {
    cursor: pointer;
    color: #264653;
}
.map {
    width: 700px;
}
.containerSliderImg {
    width: 300px;
    height: 370px;
    border-radius: 30px;
}
.image {
    width: 230px;    
    object-fit: cover;
}
.contanerTextSlider {
    width: 300px;
    height: 370px;
    padding: 110px 0 0 0;
}
.titleSlider {
    color: #e76f51;
}
.textSlider {
    color: #6c757d;
}
.titlePresentation {
    background: teal;
    width: 300px;
    color: #f8f9fa;
    z-index: 1;
    top: 0;
    right: 0px;
    border-radius: 20px;
}