.container {
    min-width: 330px;
    height: calc(100vh - 70px);
    background: #718bd8;
    color: hsl(210, 17%, 98%);
}
.container__Component {
    min-width: 300px;
}
.section {
    min-height: 35px;
    color: hsl(210, 17%, 98%);
}
.section:hover {
    background: rgba(67, 97, 238, 0.5);
    border-radius: 5px;
}
.active {
    background: #4361ee;
    border-radius: 5px;
    color: #f8f9fa;
}
.icon {
    font-size: 20px;
    margin: 0 10px 0 0;
}
.icon__Plus {
    margin: 0 0 0 20px;
    font-size: 20px;
    transition: transform 0.3s ease;
}
.icon__Plus:hover {
    cursor: pointer;
    transform: rotate(90deg) scale(1.08);
}