/*---------------BranchCard---------------*/
.inputNameBranch {
    width: 200px;
    color: #0a31bf;
    font-weight: 600;
}
.nameBranch {
    width: 400px;
}
.inputEditNameBranch {
    height: 30px;
    width: 290px;
}
.infoDataCard {
    margin: 0 10px 0 0;
}
.titleInfoCard {
    width: 180px;
    color: #0a31bf;
    font-weight: 600;
}
.textInfoCard {
    padding: 5px;
    width: 290px;
    margin: 0 10px 0 0;
}
.inputEditInfoCard {
    border: 1px solid red;
    height: 30px;
    width: 290px;
    margin: 0 0 0 -7px;
}

/*Botones de editar*/
.containerButtons {
    width: 295px;
    height: 35px;
}
.buttonSave {
    padding: 5px 10px;
    width: 100px;
    margin: 0 10px;
    border-radius: 4px;
    background: #718bd8;
    color: #f8f9fa;
}
.buttonSave:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.buttonCancel {
    padding: 5px 10px;
    margin: 0 10px;
    width: 100px;
    border-radius: 4px;
    background: #f28705;
    color: #f8f9fa;
}
.buttonCancel:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.button__Delete {
    font-size: 16px;
    color: #da2c38;
    height: 35px;
    width: 50px;
    padding: 5px 10px;
}
.button__Delete:hover {
    transition: 300ms all ease;
    cursor: pointer;
}
.button__Edit {
    font-size: 16px;
    color: #718bd8;
    height: 35px;
    width: 50px;
    padding: 5px 10px;
}
.button__Edit:hover {
    transition: 300ms all ease;
    cursor: pointer;
}



/*---------------CreateBranch---------------*/
.subtitle {
    color: #f28705;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}
.buttonDetail {
    padding: 5px 10px;
    letter-spacing: 1px;
    background: #718bd8;
    color: #f8f9fa;
}
.buttonDetail:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.form {
    padding: 60px 0 0 0;
}
.alertSuccess {
    border: 1px solid rgba(76, 149, 108, 0.7);
    color: #4c956c;
    background: rgba(76, 149, 108, 0.4);
    border-radius: 5px;
    top: 10px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.alertDanger {
    border: 1px solid rgba(230, 57, 70, 0.7);
    color: #e63946;
    background: rgba(230, 57, 70, 0.4);
    border-radius: 5px;
    top: 10px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.container__Info {
    width: 600px;
}
.containerInfo {
    width: 600px;
}
.label {
    margin-bottom: 5px;
}
.containerInput {
    width: 100%;
    border-radius: 3px;
}
.input {
    margin: 0 0 30px 0;
    border-radius: 3px;
    width: 100%;
}
.textDanger {
    top: 65px;
}
.buttonSubmit {
    padding: 5px 10px;
    border-radius: 4px;
    letter-spacing: 1px;
    background: #718bd8;
    color: #f8f9fa;
}
.buttonSubmit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}



/*----------------ModalRenderAssets----------------*/
.containerDownloadFile {
    width: 600px;
    margin: auto;
}
.downloadFile {
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f28705;
    color: #f8f9fa;
    transition: 300ms all ease;
}
.downloadFile:hover {
    background: #0a31bf;
    cursor: pointer;
}
.success {
    height: 50px;
    width: 400px;
}
.successMessage {
    top: 5px;
}