.container {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.container__Component {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.title {
    color: #f28705;
    font-weight: 600;
    letter-spacing: 1px;
}
.link__Head_Navigate {
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background: #718bd8;
}
.link__Head_Navigate:hover {
    cursor: pointer;
}
.icon__Plus {
    color: #fff;
    margin: -2px 5px 0 0;
}
.link {
    color: #fff;
    margin: 0;
}
.select__Branch {
    border-radius: 5px;
    width: 250px;
}
.select__Branch:focus{
    outline-color: #718bd8;
}

/* CONTENEDOR DE LA FACTURA */
.container__Invoice {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
/* .container__Header {
    height: 300px;
    width: 100%;
} */
.container__Header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
.container__Logo {
    border: 1px solid red;
    height: 100px;
    width: 150px;
}
.logo {
    max-height: 100px;
    max-width: 100px;
}
.container__General_Information_Invoincing {
    border: 1px solid red;
    height: 100%;
    width: 50%;
}
.container_Dates_Invoicing{
    border: 1px solid red;
    height: 100%;
    width: 50%;
}

/* CALENDARIO */
.container__Calendars {
    z-index: 3;
    top: -10px;
    right: 0;
    background: white;
}
.calendar {
    border-radius: 5px;
    width: 200px;
}
.custom__Calendar {
    background-color: #f8f9fa;
}
.weekend__Day {
    color: #718bd8;
}
.weekday {
    color: #212529;
}
.input {
    border-radius: 5px;
    width: 250px;
}
.input:focus{
    outline-color: #718bd8;
}
.container__Qr_Invoicing{
    height: 100%;
    width: 50%;
}
.qr__Code {
    max-height: 100%;
    max-width: 60%;
}

/* CONTENEDOR DE DATOS DEL EMISOR Y DEL ADQUIRIENTE */
.container__Dates {
    border: 5px solid rgba(0, 0, 0, 0.2);;
    width: 100%;
}
.container__Issuer_Data {
    width: 50%;
}
.title__Section {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    height: 50px;
}
.subtitle__Section {
    font-size: 20px;
    height: 50px;
    width: 250px;
}
.data__Section {
    font-size: 20px;
    height: 50px;
    min-width: calc(100% - 300px);
}
.container__User_Customer_Data {
    height: 300px;
    width: 50%;
}

/* TABLA */
.container__Table{
    border: 5px solid rgba(0, 0, 0, 0.8);
    width: 100%;
}
.container__Head{
    font-weight: 600;
    background: #e9ecef;
    height: 60px;
    width: 100%;
}

/* TITULOS DE LAS COLUMNAS */
.container__Tr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}
.number {
    height: 60px;
    width: 8%;
    min-width: 80px;
}
.code {
    height: 60px;
    width: 14%;
    min-width: 140px;
}
.product__Service {
    height: 60px;
    width: 18%;
    min-width: 180px;
}
.unit__Value {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.quantity {
    height: 60px;
    width: 9%;
    min-width: 90px;
}
.discount {
    height: 60px;
    width: 9%;
    min-width: 90px;
}
.discount__Value {
    height: 60px;
    width: 14%;
    min-width: 140px;
}
.total__Value {
    height: 60px;
    width: 14%;
    min-width: 140px;
}
.action {
    height: 60px;
    width: 4%;
    min-width: 40px;
}

/* CONTENIDO DE LA TABLA */
.container__Body{
    width: 100%;
}
.container__Info{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}
.text__Ellipsis {
    opacity: 0.75;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.container__Icons {
    height: 100%;
    width: 125px;
}
.button__Delete {
    color: #6c757d;
    height: 35px;
    width: 25px;
    font-size: 14px;
}
.button__Delete:hover {
    transition: 300ms all ease;
    color: #718bd8;
    cursor: pointer;
}
.message__Unrelated_Items {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
}
.container__Append {
    background: #718bd8;
    color: white;
    padding: 10px 20px;
    width: 250px;
}
.container__Append:hover {
    cursor: pointer;
}
.icon__Plus {
    color: #fff;
    margin: 4px 5px 0 0;
}

/* TOTALES */
.container__Taxes_And_Values {
    height: 250px;
    width: 100%;
}
.container__Taxes {
    width: 450px;
}
.input {
    border-radius: 5px;
    width: 300px;
}
.input:focus{
    outline-color: #718bd8;
}

/* CONTENEDOR DE RETENCIONES */
.container__Retention {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 450px;
}
.continer__Retention_Titles {
    width: 450px;
}
.retention {
    height: 60px;
    width: 140px;
}
.percentage__Value {
    height: 60px;
    width: 170px;
}
.retention__Value {
    height: 60px;
    width: 140px;
}
.container__Retention_Values {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    width: 450px;
}
.retention__Values {
    height: 30px;
}

/* CONTENEDOR DE TOTALES */
.container__Totales {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 500px;
}
.title__Container_Totales {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
.ffffffffff {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
.container__Column_Totals {
    width: 300px;
}
.container__Values_Totals {
    width: 200px;
}
.totals {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
}
.letter__Amount {
    height: 45px;
    width: 100%;
}
.button__Submit {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #718bd8;
    color: #f8f9fa;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}