.container {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.container__Component {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.title {
    color: #f28705;
    font-weight: 600;
    letter-spacing: 1px;
}
.input__Date {
    margin: 0 5px;
}
.handle__Filter {
    padding: 5px 10px;
    margin: 0 10px 0 5px;
    border-radius: 2px;
    letter-spacing: 1px;
    background: #718bd8;
    color: #f8f9fa;
}
.handle__Filter:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.clear__Filter {
    padding: 5px 10px;
    border-radius: 2px;
    letter-spacing: 1px;
    background: #dc3545;
    color: #f8f9fa;
}
.clear__Filter:hover {
    transition: 300ms all ease;
    cursor: pointer;
}
.container__Services {
    height: 50px;
    width: 100%;
}
.span__Menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.span__Menu:hover {
    border: 1px solid #718bd8;
    cursor: pointer;
}
.menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    top: 5px;
    z-index: 1;
    right: 310px;
    background: white;
    height: 295px;
    width: 300px;
    border-radius: 10px;
}
.menu:hover {
    cursor: pointer;
}

/* TABLA */
.container__Table {
    width: 100%;
}
.container__Head {
    background: #e9ecef;
    height: 60px;
    width: 100%;
    font-weight: 600;
}
.container__Tr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}

/* TITULOS DE LAS COLUMNAS */
.transaction__Date {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.branch {
    height: 60px;
    width: 14%;
    min-width: 140px;
}
.transaction__Type {
    height: 60px;
    width: 8%;
    min-width: 80px;
}
.mean__Payment {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.income__Category {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.name__Item {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.unit__Value {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.quantity {
    height: 60px;
    width: 8%;
    min-width: 80px;
}
.total__Value {
    height: 60px;
    width: 10%;
    min-width: 110px;
}
.transaction__Counterpart {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.transaction__Approved {
    height: 60px;
    width: 9%;
    min-width: 90px;
}
.action {
    height: 60px;
    width: 10%;
    min-width: 100px;
}

/* CONTENIDO DE LA TABLA */
.container__Body {
    height: 60px;
    width: 100%;
}
.container__Info{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}
.text__Ellipsis {
    opacity: 0.75;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button__Action {
    color: #6c757d;
    height: 35px;
    width: 50px;
    padding: 0 12px;
}
.button__Action:hover {
    color: #718bd8;
    transition: 300ms all ease;
    cursor: pointer;
}
.button__Delete {
    color: #6c757d;
    height: 35px;
    width: 25px;
    font-size: 14px;
}
.button__Delete:hover {
    transition: 300ms all ease;
    color: #718bd8;
    cursor: pointer;
}
.message__Unrelated_Items {
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}