.container {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.container__Component {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.title {
    color: #f28705;
    font-weight: 600;
    letter-spacing: 1px;
}

/* CONTENEDOR DE LAS FECHAS */
.container__Check {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox {
    height: 20px;
    width: 20px;
}
/* CALENDARIO */
.container__Calendars {
    z-index: 3;
    top: -10px;
    right: 0;
    background: white;
}
.calendar {
    border-radius: 5px;
    width: 200px;
}
.custom__Calendar {
    background-color: #f8f9fa;
}
.weekend__Day {
    color: #718bd8;
}
.weekday {
    color: #212529;
}
.input {
    border-radius: 5px;
    width: 250px;
}
.input:focus{
    outline-color: #718bd8;
}
.type__Income {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 10px 0;
}
.type__Income:hover {
    cursor: pointer;
}
.active {
    background: #718bd8;
    color: #f8f9fa;
    border: none;
}