.container {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.container__Component {
    height: calc(100vh - 70px);
    width: calc(100vw - 350px);
}
.container__Plants_Table {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__Titles_Columns {
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}
.name__Plain {
    border: 1px solid gold;
    height: 60px;
    width: 170px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primera {
    border: 1px solid teal;
    width: 170px;
    height: 60px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container__Data_Columns {
    border: 1px solid teal;
    display: flex;
}
.title__Plaint {
    border: 1px solid gold;
    height: 60px;
    width: 170px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.segunda {
    border: 1px solid teal;
    width: 170px;
    height: 60px;
}