.container {
    /* border: 1px solid red; */
    height: 350px;
    background: #FFF;
    margin: 70px 0 20px 0;
}
.containerIntroduction {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 1250px;
    height: 350px;
}
.imageInformation {
    width: 623px;
    height: 450px;
}
.image {
    /* border: 1px solid red; */
    /* width: 300px; */
    height: 280px;
}
.textInformation {
    /* border: 1px solid teal; */
    margin: 0 auto;
    width: 700px;
}
.containerTitle {
    /* border: 1px solid red; */
    width: 700px;
}
.title {
    text-align: right;
    color: #f28705;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
}
.text {
    /* color: #f28705; */
    font-size: 20px;
}
.item {
    line-height: 0.7;
}
.iconItem {
    font-size: 30px;
    margin: -5px 3px 0 0;
    color: #718bd8;
}
.subtitle {
    color: #f28705;
}