.container {
    height: 400px;
    background: #f28705;
    margin: 70px 0 20px 0;
}
.containerIntroduction {
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 1250px;
    height: 400px;
}
.imageInformation {
    width: 623px;
    height: 450px;
}
.image {
    width: 300px;
}
.textInformation {
    /* border: 1px solid teal; */
    margin: 0 auto;
    width: 700px;
}
.containerTitle {
    /* border: 1px solid red; */
    width: 700px;
}
.title {
    text-align: right;
    color: #0a31bf;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1px;
}
.text {
    color: #dee2e6;
    font-size: 20px;
}
.item {
    line-height: 0.7;
}
.iconItem {
    font-size: 30px;
    margin: -5px 3px 0 0;
    color: #718bd8;
}
.subtitle {
    color: #f28705;
}