.container {
    width: 450px;
}
.alert__Success {
    border: 1px solid rgba(76, 149, 108, 0.7);
    color: #4c956c;
    background: rgba(76, 149, 108, 0.4);
    border-radius: 5px;
    top: -5px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.alert__Danger {
    border: 1px solid rgba(230, 57, 70, 0.7);
    color: #e63946;
    background: rgba(230, 57, 70, 0.4);
    border-radius: 5px;
    top: -5px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.label {
    margin-bottom: 5px;
}
.container__Info {
    width: 450px;
}
.info {
    width: 450px;
}
.label {
    margin-bottom: 5px;
}
.container__Input {
    width: 100%;
    border-radius: 3px;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 30px 0;
    width: 100%;
}
.input:focus{
    outline-color: #718bd8;
}
.button__Submit {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #718bd8;
    color: #f8f9fa;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}